/* A página inteira terá um estilo clean */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  min-height: 100vh; /* Garantir que a página ocupe a altura completa da tela */
  display: flex;
  flex-direction: column;
  position: relative;
}
body {
  background-image: url('../assets/layout.avif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

/* Cabeçalho fixo no topo */
header {
  background-color: #333;
  color: white;
  position: fixed; /* Fixo no topo */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 10;
}


/* Corpo da página */
main {
  margin-top: 80px; /* Deixa espaço suficiente para o header fixo */
  margin-bottom: 80px; /* Deixa espaço suficiente para o footer fixo */
  padding: 1rem;
  overflow-y: auto; /* Permite rolar o conteúdo */
  flex-grow: 1;
}

/* Rodapé fixo no fundo */
footer {
  background-color: #333;
  color: white;
  position: fixed; /* Fixo no fundo */
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  z-index: 10;
}

#br {
  background: linear-gradient(135deg, #6e8efb, rgb(41,70,76));
  border: none;
  color: white;
  padding: 10px 22px;
  font-size: 16px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-neu:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.postUSA,
.postBR {
  background-image: url('../assets/layout.avif');
  padding: 0.1rem 7rem 1rem;
  border-radius: 8px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.25rem;
  color: #666;
  margin-bottom: 2rem;
}

.icones {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 2rem;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.box-wrapper {
  text-align: center;
  padding: 1rem;
  background-image: url('../assets/layoutBlue.jpg');
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  box-sizing: border-box;
  flex-grow: 0;
}

.box-icone__titulo {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.box-icone__texto {
  font-size: 1rem;
  color: #070505;
}

@media (max-width: 768px) {
  .box-wrapper {
    min-width: 48%;
    padding: 1rem;
  }

  .box-icone img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 576px) {
  .icones {
    gap: 20px;
  }

  .box-wrapper {
    min-width: 100%;
  }

  .box-icone img {
    width: 100px;
    height: 100px;
  }
}
