*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    height: 100vh;
    width: 160vh;
    background-image: url('../assets/layoutRed.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#register{
    
    background-color:  rgb(64, 64, 64);
    color: white;
   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
    padding-left: 80px;
    padding-right: 80px;
   
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px; 
}

#backgroundR{
    margin-bottom: 4px;
    margin-right: 5px;  
}

#register img { 
    opacity : 0.8; 
}

.btn-primary{
    margin-top: 200px;
    margin-left: -399px;
    
}

.btn-danger{
    margin-top: 200px;
    margin-left: -290px;
}

.socialRegister{
    color: white;
    text-align: center;
    background-image: url('../assets/layoutBlue.jpg');
    border-radius: 600px;
}


.socialRegister img{
    max-width:60px;
    max-height:140px;
}

.rodapeRegister{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px; 
}
