*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary{
    margin-top: 200px;
    margin-left: -399px;
    
}

.btn-danger{
    margin-top: 200px;
    margin-left: -290px;
}

label{
    margin: 15px;
}

#login{
    
    background-color:  rgb(41,70,76);
    color: white;
   
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    padding-left: 80px;
    padding-right: 80px;
   
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px; 
   
}

.socialSign{
    color: white;
    text-align: center;
    background-image: url('../assets/layoutSocial.avif');
    border-radius: 600px;
}

.socialSign img{
    max-width:60px;
    max-height:140px;
}

.rodapeSign {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
}