*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    height: 100vh;
    width: 160vh;
    background-image: url('../assets/layoutRed.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#register{
    
    background-color:  rgb(64, 64, 64);
    color: white;
   
    position: fixed;
   
    margin-left: 4%;
    margin-right: auto;
   
    padding-left: 80px;
    padding-right: 80px;
   
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px; 


   
   
    
   
}

#backgroundR{
    margin-bottom: 4px;
    margin-right: 5px;  
}

#register img { 
    opacity : 0.8; 
}

.btn-primary{
    margin-top: 200px;
    margin-left: -399px;
    
}

.btn-danger{
    margin-top: 200px;
    margin-left: -290px;
}

.socialRegister{
    color: white;
    text-align: center;
    background-image: url('../assets/layoutBlue.jpg');
    border-radius: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 55px;
    padding-right: 55px;
}

.socialRegister img{
    max-width:60px;
    max-height:140px;
}

.rodapeRegister{
    position: fixed;
    margin-top: 750px;  
}
