/* Fixar o header */
.header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Faz o header ocupar toda a largura da tela */
  z-index: 1000; /* Garante que o header fique acima de outros conteúdos */
  padding: 10px 0; /* Adiciona espaçamento interno */
  
}


nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%; /* Faz o nav ocupar toda a largura da tela */
  text-align: center;
}

.header h1 {
  color: black;
  font-size: 50px; /* Ajuste no tamanho para ser responsivo */
  margin: 0;
}

.btn-neu {
  background: linear-gradient(135deg, #6e8efb, rgb(41,70,76));
  border: none;
  color: white;
  padding: 10px 22px;
  font-size: 16px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-neu:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);;
}



.custom-label {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
}